<?xml version="1.0" encoding="utf-8"?>

<!-- Copyright (C) 2015 - Luis Eduardo Brito -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.luiseduardobrito.nanodegree.zero.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="io.github.luiseduardobrito.nanodegree.zero.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
